body {
  width: 1300px;
  margin: 20px 30px;
  background-color: black;
  color: #e0e0eb;
  font-family: Arial, Helvetica, sans-serif;  
}

.nav-container {
  margin: 40px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  padding: 5px 30px;
  font-size: 18px;
}

.nav-break {
  display: none;
}

#sm-nav {
  width: 40%;
  display: flex;
}

#sm-lower {
  display: none; 
}

.fa {
  margin: 0px 20px;
  width: 10px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #e0e0eb;
  color: black;
}

.fa-facebook {
  padding: 8px 11px 14px 11px; 
}

.fa-soundcloud {
  padding: 7px 16px 15px 6px;
}

a {
  color: #e0e0eb;
  text-decoration: none;
}

a:hover, .selected {
  background-color: #71627a;
}

a:hover {
  opacity: 0.7;
}

.heading-container {
  display: flex;
  justify-content: center;
}

#name {
  font-size: 40px;
  margin: 40px;
  text-align: center;
}

.banner {
  height: 400px;
}

#banner-main {
  background-image: url("../img/banner-main.jpeg");
  background-position: center;
  background-size: cover;
}

#banner-page {
  background-image: url("../img/banner-page.jpeg");
  background-position: bottom left;
  background-size: cover;
  height: 200px;
  display: flex;
  align-items: center;
  padding-left: 75px;
  padding-top: 50px;
  font-size: 30px;
}

.page-contents {
  margin-top: 50px
}

.text-container {
  margin: 40px;
}

.quote-container.text-container {
  padding: 0px 10%; 
  text-align: center;
  font-style: italic;
  font-size: 20px;
}

.media-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.media-item {
  margin: 20px;
}

.soundcloud-item {
  height: 300px;
  width: 300px;
}

#amazon {
  flex-wrap: nowrap;
}

.amazon-item {
  padding: 5px;
  width: 22%;
}

.amazon-img {
  width: 100%;
}

.page-divide {
  margin: 75px 0px;
}

.section-header {
  text-align: center;
  font-size: 30px;
}

@media(max-width: 1400px) {
  body {
    width: 90%;
  }
}

@media(max-width: 1000px) {
  nav {
    justify-content: center;
  }

  .nav-link {
    padding: 5px 20px;
    font-size: 18px;
  }

  #sm-nav {
    display: none;
  }
  
  #sm-lower {
    display: flex;
    justify-content: center;
    margin: 30px; 
  }

}

@media(max-width: 600px) {
  body {
    margin: 0px;
    width: 100%;
  }

  nav {
    margin: 0px;
    flex-direction: column;
    align-items: center;
  }

  .selected {
    background-color: black;
  }

  .nav-link {
    padding: 5px 50px;
    font-size: 22px;
  }

  .nav-break {
    display: block;
    width: 70%;
  }

  .fa-facebook {
    padding: 10px 13px 16px 13px; 
  }
  
  .fa-soundcloud {
    padding: 9px 18px 17px 8px;
  }

  #name {
    margin-top: 0px;
    font-size: 35px;
  }

  .soundcloud-item {
    height: 200px;
    width: 80%;
  }

  .amazon-item {
    margin: 5px;
    width: 25%;
  }

  .no-mobile {
    display: none;
  }

  .page-divide {
    margin-left: 15%;
    margin-right: 15%;
  }

} 
